.upload-card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  text-align: center;

  margin-bottom: 20px;
}

.upload-card button {
  margin-top: 15px;

  background: #2e7d32;
  color: white;

  border: none;
  padding: 10px 20px;

  border-radius: 10px;
}